USE [MicroFinance]
GO
/****** Object:  StoredProcedure [dbo].[spGetALRMbrsList]    Script Date: 11/29/2022 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[spGetALRMbrsList]
@GrpName Varchar(max),
@StaffName Varchar(max)
as
begin

IF (ISNULL(@GrpName,0) != '' AND ISNULL(@StaffName,0) != '')
begin
		 select * from ALRAudjustments A INNER JOIN Loans L ON A.MbrId = L.MbrId	
					  INNER JOIN FinGroup G ON G.GroupCode = L.GrpCode 
					  INNER JOIN Staff S ON S.StaffName = L.StaffName		
					where CONVERT(Money,A.AdvanceALR) > 0 
					and G.GrpName = @GrpName and S.StaffName = @StaffName
		 end
		ELSE if(ISNULL(@GrpName,0) != '')
		begin
			select * from ALRAudjustments A INNER JOIN Loans L ON A.MbrId = L.MbrId	
					  INNER JOIN FinGroup G ON G.GrpName = @GrpName			
					where CONVERT(Money,A.AdvanceALR) > 0 
		 end
		 else if(ISNULL(@StaffName,0) != '')
		 begin
		 select * from ALRAudjustments A INNER JOIN Loans L ON A.MbrId = L.MbrId	
					  INNER JOIN Staff S ON S.StaffName = @StaffName			
					where CONVERT(Money,A.AdvanceALR) > 0 
		 end
		 else
		 begin
		 select * from ALRAudjustments A INNER JOIN Loans L ON A.MbrId = L.MbrId	
					  INNER JOIN FinGroup G ON G.GroupCode = L.GrpCode 
					  INNER JOIN Staff S ON S.StaffName = L.StaffName		
					where CONVERT(Money,A.AdvanceALR) > 0 
		 end
						  

end


--insert into ALRAudjustments(MbrId,AdvanceALR,Crdt)
--values(134,'1000','08/14/2018')

--select * from ALRAudjustments
--SELECT * FROM Member
--SELECT * FROM Loans    
--SELECT * FROM Loan_Cols
GO
