USE [MicroFinance]
GO
/****** Object:  Table [dbo].[FinGroup]    Script Date: 11/29/2022 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FinGroup](
	[GroupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupCode] [varchar](max) NULL,
	[BranchCode] [varchar](max) NULL,
	[Village] [varchar](max) NULL,
	[Net_Members] [int] NULL,
	[CrDt] [varchar](max) NULL,
	[DOC] [varchar](max) NULL,
	[Distance] [int] NULL,
	[GStatus] [varchar](max) NULL,
	[StaffID] [int] NULL,
	[FormedBy] [varchar](max) NULL,
	[MeetingPlaceAddress] [varchar](max) NULL,
	[GType] [varchar](max) NULL,
	[GrpName] [varchar](max) NULL,
	[RecoveryDay] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[FinGroup] ON
INSERT [dbo].[FinGroup] ([GroupID], [GroupCode], [BranchCode], [Village], [Net_Members], [CrDt], [DOC], [Distance], [GStatus], [StaffID], [FormedBy], [MeetingPlaceAddress], [GType], [GrpName], [RecoveryDay]) VALUES (10, N'W10', N'4', N'TestVillage', 10, N'08/15/2018', N'1/17/2022', 10, N'Active', 27, N'Mallikarjun', N'V.V Mohalla', N'Weekly', N'Arjun', NULL)
INSERT [dbo].[FinGroup] ([GroupID], [GroupCode], [BranchCode], [Village], [Net_Members], [CrDt], [DOC], [Distance], [GStatus], [StaffID], [FormedBy], [MeetingPlaceAddress], [GType], [GrpName], [RecoveryDay]) VALUES (11, N'W11', N'5', N'test', 10, N'08/15/2018', N'1/23/2022', 10, N'Active', 29, N'testMk', N'Test Ballari', N'Weekly', N'ArjunGroup', NULL)
INSERT [dbo].[FinGroup] ([GroupID], [GroupCode], [BranchCode], [Village], [Net_Members], [CrDt], [DOC], [Distance], [GStatus], [StaffID], [FormedBy], [MeetingPlaceAddress], [GType], [GrpName], [RecoveryDay]) VALUES (12, N'W12', N'4', N'gonal', 5, N'08/15/2018', N'', 10, N'Active', 30, N'ramasubbanna', N'school', N'Weekly', N'gonal', NULL)
SET IDENTITY_INSERT [dbo].[FinGroup] OFF
