USE [MicroFinance]
GO
/****** Object:  StoredProcedure [dbo].[spTakeBackUpBeforeLoanPost]    Script Date: 11/29/2022 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spTakeBackUpBeforeLoanPost] @NextDueDt varchar(max)
as
begin

	IF EXISTS (SELECT * FROM dbo.sysobjects where id = object_id(N'dbo.[TmpLoansBackUpData]') and OBJECTPROPERTY(id, N'IsTable') = 1)
	BEGIN
		Drop TABLE dbo.[TmpLoansBackUpData]
	END

	IF EXISTS (SELECT * FROM dbo.sysobjects where id = object_id(N'dbo.[TmpLoanColsBackUpData]') and OBJECTPROPERTY(id, N'IsTable') = 1)
	BEGIN
		Drop TABLE dbo.[TmpLoanColsBackUpData]
	END	


 SELECT * into TmpLoansBackUpData FROM Loans L where CONVERT(date, NextDueDt,101) = CONVERT(date,@NextDueDt,101)
 SELECT LoanColId Into TmpLoanColsBackUpData FROM Loan_Cols 
			 where LoanId in (select LoanId from TmpLoansBackUpData) order by LoanColId desc
			 
end
GO
