USE [MicroFinance]
GO
/****** Object:  StoredProcedure [dbo].[spGetProgressReportData]    Script Date: 11/29/2022 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spGetProgressReportData] @FrmDt varchar(max),@ToDt varchar(max)
as
begin

set @FrmDt = CONVERT(Date, @FrmDt)
set @ToDt  = CONVERT(Date, @ToDt) 

IF (EXISTS(SELECT * FROM INFORMATION_SCHEMA.TABLES 
    WHERE TABLE_TYPE='BASE TABLE' 
    AND TABLE_NAME='TmpSummeryReportData'))
    BEGIN
     DROP TABLE TmpSummeryReportData
    END
    
Declare @Particulars Varchar(max),@BORGrpCount Varchar(max),@Added Varchar(max),@Dropped Varchar(max),@EORGrpCount Varchar(max)

    CREATE TABLE TmpSummeryReportData
    (
		SlNo int identity(1,1) primary key,
		Particulars Varchar(max),
        BOR Varchar(max),
        Added  Varchar(max),
        Dropped Varchar(max),
        EOR Varchar(max)
    )
---*******************************************************************************************************************    
    
    set @Particulars = 'No Of Groups Formed';
    
    set @BORGrpCount = (select isnull(COUNT(GroupID),0) as 'BORGrpCount' from FinGroup 
							where MONTH(CONVERT(Date,Crdt)) < MONTH(@FrmDt)
							 And year(CONVERT(Date, Crdt)) = year(@FrmDt) and
							 MONTH(CONVERT(Date,DOC)) >= MONTH(@ToDt))
    
    set @Added = (select isnull(COUNT(GroupID),0) as 'Added' from FinGroup 
					where MONTH(CONVERT(Date, Crdt)) >= MONTH(@FrmDt) And 
					MONTH(CONVERT(Date, Crdt)) <= MONTH(@ToDt) and 
					year(CONVERT(Date, Crdt)) = year(@FrmDt) and
					GStatus != 'Cancel')
    
	set @Dropped = (select isnull(COUNT(GroupID),0) as 'Dropped' from FinGroup 
			where MONTH(CONVERT(Date, Crdt)) >= MONTH(@FrmDt) And 
					MONTH(CONVERT(Date, Crdt)) <= MONTH(@ToDt) and 
					year(CONVERT(Date, Crdt)) = year(@FrmDt) and
					GStatus = 'Cancel')
				
	SET @EORGrpCount = ISNULL((CONVERT(INT,@BORGrpCount) + CONVERT(INT,@Added)) - CONVERT(INT,@Dropped)	,0)									
        
    Insert into TmpSummeryReportData values(@Particulars,ISNULL(@BORGrpCount,0),ISNULL(@Added,0),ISNULL(@Dropped,0),ISNULL(@EORGrpCount,0))
---*******************************************************************************************************************        
    
    set @Particulars = 'No Of Active Clients';
    
    set @BORGrpCount = (select isnull(COUNT(MbrID),0) as 'BORGrpCount' from Member 
							where MONTH(CONVERT(Date,DOJ)) < MONTH(@FrmDt)
							 And year(CONVERT(Date, DOJ)) = year(@FrmDt) and
							 MbrStatus = 'Active')
    
    set @Added = (select isnull(COUNT(MbrID),0) as 'Added' from Member 
					where MONTH(CONVERT(Date, DOJ)) >= MONTH(@FrmDt) And 
					MONTH(CONVERT(Date, DOJ)) <= MONTH(@ToDt) and 
					year(CONVERT(Date, DOJ)) = year(@FrmDt) and
					MbrStatus = 'Active')
    
	set @Dropped = (select isnull(COUNT(MbrID),0) as 'Dropped' from Member 
			where MONTH(CONVERT(Date, DOJ)) >= MONTH(@FrmDt) And 
					MONTH(CONVERT(Date, DOJ)) <= MONTH(@ToDt) and 
					year(CONVERT(Date, DOJ)) = year(@FrmDt) and
					MbrStatus = 'Cancel')
					
	SET @EORGrpCount = isnull((CONVERT(INT,@BORGrpCount) + CONVERT(INT,@Added)) - CONVERT(INT,@Dropped),0)										
        
    Insert into TmpSummeryReportData values(@Particulars,ISNULL(@BORGrpCount,0),ISNULL(@Added,0),ISNULL(@Dropped,0),ISNULL(@EORGrpCount,0))
---*******************************************************************************************************************
     set @Particulars = 'Current Loans';
   
    set @BORGrpCount = (select sum(isnull(convert(money,Loan_Amount),0)) as 'BORGrpCount' from Loans 
							where MONTH(CONVERT(Date,Date_Of_Disbursement)) < MONTH(@FrmDt)
							 And year(CONVERT(Date, Date_Of_Disbursement)) = year(@FrmDt) and
							 ([Expiry_Date] IS NULL OR [Expiry_Date] = '')
							 )
    
    set @Added = (select sum(isnull(convert(money,Loan_Amount),0)) as 'Added' from Loans 
					where MONTH(CONVERT(Date, Date_Of_Disbursement)) >= MONTH(@FrmDt) And 
					MONTH(CONVERT(Date, Date_Of_Disbursement)) <= MONTH(@ToDt) and 
					year(CONVERT(Date, Date_Of_Disbursement)) = year(@FrmDt) 
				 )
   
	set @Dropped = (select sum(isnull(convert(money,Loan_Amount),0)) as 'Dropped' from Loans 
			where MONTH(CONVERT(Date, Date_Of_Disbursement)) >= MONTH(@FrmDt) And 
					MONTH(CONVERT(Date, Date_Of_Disbursement)) <= MONTH(@ToDt) and 
					year(CONVERT(Date, Date_Of_Disbursement)) = year(@FrmDt)
					)
			
	SET @EORGrpCount = isnull((CONVERT(money,@BORGrpCount) + CONVERT(money,@Added)) - CONVERT(money,@Dropped),0)										
    
    
    Insert into TmpSummeryReportData values(@Particulars,ISNULL(@BORGrpCount,0.00),ISNULL(@Added,0.00),ISNULL(@Dropped,0.00),ISNULL(@EORGrpCount,0.00))
---*******************************************************************************************************************           
        set @Particulars = 'Loan Out Standing';
    
    set @BORGrpCount = (select (sum(isnull(convert(money,Loan_Amount),0)) - sum(isnull(convert(money,Int_EMI),0))) as 'BORGrpCount'   
     from Loans
							where MONTH(CONVERT(Date,Date_Of_Disbursement)) < MONTH(@FrmDt)
							 And year(CONVERT(Date, Date_Of_Disbursement)) = year(@FrmDt) and
							 ([Expiry_Date] IS NULL OR [Expiry_Date] = '')
							 )
    
    set @Added = (select (sum(isnull(convert(money,Loan_Amount),0)) - sum(isnull(convert(money,Int_EMI),0))) as 'Added' 
      from Loans
					where MONTH(CONVERT(Date, Date_Of_Disbursement)) >= MONTH(@FrmDt) And 
					MONTH(CONVERT(Date, Date_Of_Disbursement)) <= MONTH(@ToDt) and 
					year(CONVERT(Date, Date_Of_Disbursement)) = year(@ToDt) 
				 )
    
	set @Dropped = (select (sum(isnull(convert(money,Loan_Amount),0)) - sum(isnull(convert(money,Int_EMI),0))) as 'Dropped' 
	  from Loans
			where MONTH(CONVERT(Date, [Expiry_Date])) >= MONTH(@FrmDt) And 
					MONTH(CONVERT(Date, [Expiry_Date])) <= MONTH(@ToDt) and 
					year(CONVERT(Date, [Expiry_Date])) = year(@ToDt)
					)
				
	SET @EORGrpCount = (ISNULL(CONVERT(money,@BORGrpCount),0) + ISNULL(CONVERT(money,@Added),0)) - ISNULL(CONVERT(money,@Dropped),0)										
    
    
    Insert into TmpSummeryReportData values(@Particulars,ISNULL(@BORGrpCount,0.00),ISNULL(@Added,0.00),ISNULL(@Dropped,0.00),ISNULL(@EORGrpCount,0.00))
    
---*******************************************************************************************************************       
    set @Particulars = 'A.L.R Collected';
   
    set @BORGrpCount = (select sum(isnull(convert(money,LC.ALRSavings),0)) as 'BORGrpCount'
     from Loans L inner join Loan_Cols LC on L.LoanID = LC.LoanId
							where MONTH(CONVERT(Date,LC.Transact_Date)) < MONTH(@FrmDt)
							 And year(CONVERT(Date, LC.Transact_Date)) = year(@FrmDt) and
							 ([Expiry_Date] IS NULL OR [Expiry_Date] = '')
							 )
  
    set @Added = (select sum(isnull(convert(money,LC.ALRSavings),0)) as 'Added' 
      from Loans L inner join Loan_Cols LC on L.LoanID = LC.LoanId
					where MONTH(CONVERT(Date, LC.Transact_Date)) >= MONTH(@FrmDt) And 
					MONTH(CONVERT(Date, LC.Transact_Date)) <= MONTH(@ToDt) and 
					year(CONVERT(Date, LC.Transact_Date)) = year(@ToDt) 
				 )
   
	set @Dropped = (select (sum(isnull(convert(money,L.ALRSavings),0)) * (COUNT(LoanColId))) as 'Dropped' 
	  from Loans L inner join Loan_Cols LC on L.LoanID = LC.LoanId
			where MONTH(CONVERT(Date, LC.Transact_Date)) >= MONTH(@FrmDt) And 
					MONTH(CONVERT(Date, LC.Transact_Date)) <= MONTH(@ToDt) and 
					year(CONVERT(Date, LC.Transact_Date)) = year(@ToDt) AND LC.ALRSavings = '0.00'
					)
					
	SET @EORGrpCount = isnull((CONVERT(money,@BORGrpCount) + CONVERT(money,@Added)) - CONVERT(money,@Dropped),0)										
        
    Insert into TmpSummeryReportData values(@Particulars,ISNULL(@BORGrpCount,0.00),ISNULL(@Added,0.00),ISNULL(@Dropped,0.00),ISNULL(@EORGrpCount,0.00))
---*******************************************************************************************************************       
	set @Particulars = 'Insurance Total Collected';
   
    set @BORGrpCount = (select sum(isnull(convert(money,Insurance),0)) as 'BORGrpCount'
     from Loans
							where MONTH(CONVERT(Date,Date_Of_Disbursement)) < MONTH(@FrmDt)
							 And year(CONVERT(Date, Date_Of_Disbursement)) = year(@FrmDt) and
							 ([Expiry_Date] IS NULL OR [Expiry_Date] = '')
							 )
    
    set @Added = (select sum(isnull(convert(money,Insurance),0)) as 'Added' 
      from Loans
					where MONTH(CONVERT(Date, Date_Of_Disbursement)) >= MONTH(@FrmDt) And 
					MONTH(CONVERT(Date, Date_Of_Disbursement)) <= MONTH(@ToDt) and 
					year(CONVERT(Date, Date_Of_Disbursement)) = year(@ToDt) 
				 )
    
	set @Dropped = (select sum(isnull(convert(money,Insurance),0)) as 'Dropped' 
	  from Loans
			where MONTH(CONVERT(Date, [Expiry_Date])) >= MONTH(@FrmDt) And 
					MONTH(CONVERT(Date, [Expiry_Date])) <= MONTH(@ToDt) and 
					year(CONVERT(Date, [Expiry_Date])) = year(@ToDt)
					)
				
	SET @EORGrpCount = isnull((CONVERT(money,@BORGrpCount) + CONVERT(money,@Added)) - CONVERT(money,@Dropped),0)										
    
    Insert into TmpSummeryReportData values(@Particulars,ISNULL(@BORGrpCount,0.00),ISNULL(@Added,0.00),ISNULL(@Dropped,0.00),ISNULL(@EORGrpCount,0.00))    
---*******************************************************************************************************************           
      set @Particulars = 'Toala GRF Amt';
    
    set @BORGrpCount = (select sum(isnull(convert(money,GRFAmt),0)) as 'BORGrpCount'
     from Loans
							where MONTH(CONVERT(Date,Date_Of_Disbursement)) < MONTH(@FrmDt)
							 And year(CONVERT(Date, Date_Of_Disbursement)) = year(@FrmDt) and
							 ([Expiry_Date] IS NULL OR [Expiry_Date] = '')
							 )
    
    set @Added = (select sum(isnull(convert(money,GRFAmt),0)) as 'Added' 
      from Loans
					where MONTH(CONVERT(Date, Date_Of_Disbursement)) >= MONTH(@FrmDt) And 
					MONTH(CONVERT(Date, Date_Of_Disbursement)) <= MONTH(@ToDt) and 
					year(CONVERT(Date, Date_Of_Disbursement)) = year(@ToDt) 
				 )
   
	set @Dropped = (select sum(isnull(convert(money,GRFAmt),0)) as 'Dropped' 
	  from Loans
			where MONTH(CONVERT(Date, [Expiry_Date])) >= MONTH(@FrmDt) And 
					MONTH(CONVERT(Date, [Expiry_Date])) <= MONTH(@ToDt) and 
					year(CONVERT(Date, [Expiry_Date])) = year(@ToDt)
					)
					
	SET @EORGrpCount = isnull((CONVERT(money,@BORGrpCount) + CONVERT(money,@Added)) - CONVERT(money,@Dropped),0)										
    
    Insert into TmpSummeryReportData values(@Particulars,ISNULL(@BORGrpCount,0.00),ISNULL(@Added,0.00),ISNULL(@Dropped,0.00),ISNULL(@EORGrpCount,0.00))
    ---*******************************************************************************************************************           
    set @Particulars = 'Total Passbook Fee';
    
    set @BORGrpCount = (select sum(isnull(convert(money,0),0)) as 'BORGrpCount'
     from Loans
							where MONTH(CONVERT(Date,Date_Of_Disbursement)) < MONTH(@FrmDt)
							 And year(CONVERT(Date, Date_Of_Disbursement)) = year(@FrmDt) and
							 ([Expiry_Date] IS NULL OR [Expiry_Date] = '')
							 )
   
    set @Added = (select sum(isnull(convert(money,0),0)) as 'Added' 
      from Loans
					where MONTH(CONVERT(Date, Date_Of_Disbursement)) >= MONTH(@FrmDt) And 
					MONTH(CONVERT(Date, Date_Of_Disbursement)) <= MONTH(@ToDt) and 
					year(CONVERT(Date, Date_Of_Disbursement)) = year(@ToDt) 
				 )
    
	set @Dropped = (select sum(convert(money,0)) as 'Dropped' 
	  from Loans
			where MONTH(CONVERT(Date, [Expiry_Date])) >= MONTH(@FrmDt) And 
					MONTH(CONVERT(Date, [Expiry_Date])) <= MONTH(@ToDt) and 
					year(CONVERT(Date, [Expiry_Date])) = year(@ToDt)
					)
					
	SET @EORGrpCount = (CONVERT(money,@BORGrpCount) + CONVERT(money,@Added)) - CONVERT(money,@Dropped)										
    
    Insert into TmpSummeryReportData values(@Particulars,ISNULL(@BORGrpCount,0.00),ISNULL(@Added,0.00),ISNULL(@Dropped,0.00),ISNULL(@EORGrpCount,0.00))
---*******************************************************************************************************************               
    set @Particulars = 'Total Loan Fee';
    
    set @BORGrpCount = (select sum(isnull(convert(money,Processing_Fee),0)) as 'BORGrpCount'
     from Loans
							where MONTH(CONVERT(Date,Date_Of_Disbursement)) < MONTH(@FrmDt)
							 And year(CONVERT(Date, Date_Of_Disbursement)) = year(@FrmDt) and
							 ([Expiry_Date] IS NULL OR [Expiry_Date] = '')
							 )
    
    set @Added = (select sum(isnull(convert(money,Processing_Fee),0)) as 'Added' 
      from Loans
					where MONTH(CONVERT(Date, Date_Of_Disbursement)) >= MONTH(@FrmDt) And 
					MONTH(CONVERT(Date, Date_Of_Disbursement)) <= MONTH(@ToDt) and 
					year(CONVERT(Date, Date_Of_Disbursement)) = year(@ToDt) 
				 )
    
	set @Dropped = (select sum(isnull(convert(money,Processing_Fee),0)) as 'Dropped' 
	  from Loans
			where MONTH(CONVERT(Date, [Expiry_Date])) >= MONTH(@FrmDt) And 
					MONTH(CONVERT(Date, [Expiry_Date])) <= MONTH(@ToDt) and 
					year(CONVERT(Date, [Expiry_Date])) = year(@ToDt)
					)
				
	SET @EORGrpCount = (ISNULL(CONVERT(money,@BORGrpCount),0) + ISNULL(CONVERT(money,@Added),0)) - ISNULL(CONVERT(money,@Dropped),0)										
    
    
    Insert into TmpSummeryReportData values(@Particulars,ISNULL(@BORGrpCount,0.00),ISNULL(@Added,0.00),ISNULL(@Dropped,0.00),ISNULL(@EORGrpCount,0.00))
    
    
end
GO
