USE [MicroFinance]
GO
/****** Object:  Table [dbo].[StaffLogin]    Script Date: 11/29/2022 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StaffLogin](
	[UsrId] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [int] NULL,
	[UserName] [varchar](max) NULL,
	[Password] [varchar](max) NULL,
	[RolePermission] [varchar](max) NULL,
	[IsLocked] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsrId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[StaffLogin]  WITH CHECK ADD FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([StaffID])
GO
SET IDENTITY_INSERT [dbo].[StaffLogin] ON
INSERT [dbo].[StaffLogin] ([UsrId], [StaffId], [UserName], [Password], [RolePermission], [IsLocked]) VALUES (2, 2, N'ArjunMK', N'tst409', N'Admin', 0)
INSERT [dbo].[StaffLogin] ([UsrId], [StaffId], [UserName], [Password], [RolePermission], [IsLocked]) VALUES (3, 27, N'usr', N'123', N'User', 0)
SET IDENTITY_INSERT [dbo].[StaffLogin] OFF
