USE [MicroFinance]
GO
/****** Object:  StoredProcedure [dbo].[spDeleteBackUpTble]    Script Date: 11/29/2022 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spDeleteBackUpTble]
as
begin
	IF EXISTS (SELECT * FROM dbo.sysobjects where id = object_id(N'dbo.[TmpLoansBackUpData]') and OBJECTPROPERTY(id, N'IsTable') = 1)
	BEGIN
		Truncate TABLE dbo.[TmpLoansBackUpData]
	END

	IF EXISTS (SELECT * FROM dbo.sysobjects where id = object_id(N'dbo.[TmpLoanColsBackUpData]') and OBJECTPROPERTY(id, N'IsTable') = 1)
	BEGIN
		Truncate TABLE dbo.[TmpLoanColsBackUpData]
	END	
end
GO
