USE [MicroFinance]
GO
/****** Object:  Table [dbo].[Loan_Cols]    Script Date: 11/29/2022 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Loan_Cols](
	[LoanColId] [int] IDENTITY(1,1) NOT NULL,
	[LoanId] [int] NULL,
	[MbrId] [int] NULL,
	[Collected_Amount] [varchar](max) NULL,
	[Actual_Balance] [varchar](max) NULL,
	[Prin_Balance] [varchar](max) NULL,
	[Int_Collect] [varchar](max) NULL,
	[Prin_Collected] [varchar](max) NULL,
	[Balance_Installment] [int] NULL,
	[Balance_Interest] [varchar](max) NULL,
	[Prin_Due] [varchar](max) NULL,
	[Int_Due] [varchar](max) NULL,
	[Transact_Date] [varchar](max) NULL,
	[Next_Due_Date] [varchar](max) NULL,
	[Upto_Last_Savings] [varchar](max) NULL,
	[ALRSavings] [varchar](max) NULL,
	[As_On] [varchar](max) NULL,
	[Adjustment] [varchar](max) NULL,
	[PaidEMI] [varchar](max) NULL,
	[PrePrinAmt] [varchar](max) NULL,
	[PreInterestAmt] [varchar](max) NULL,
	[Collect_Or_RefoundAmt] [varchar](max) NULL,
	[PostedUserID] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[LoanColId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Loan_Cols]  WITH CHECK ADD FOREIGN KEY([LoanId])
REFERENCES [dbo].[Loans] ([LoanID])
GO
ALTER TABLE [dbo].[Loan_Cols]  WITH CHECK ADD FOREIGN KEY([MbrId])
REFERENCES [dbo].[Member] ([MbrId])
GO
SET IDENTITY_INSERT [dbo].[Loan_Cols] ON
INSERT [dbo].[Loan_Cols] ([LoanColId], [LoanId], [MbrId], [Collected_Amount], [Actual_Balance], [Prin_Balance], [Int_Collect], [Prin_Collected], [Balance_Installment], [Balance_Interest], [Prin_Due], [Int_Due], [Transact_Date], [Next_Due_Date], [Upto_Last_Savings], [ALRSavings], [As_On], [Adjustment], [PaidEMI], [PrePrinAmt], [PreInterestAmt], [Collect_Or_RefoundAmt], [PostedUserID]) VALUES (164, 98, 142, N'0.00', N'1075', N'1000', N'0.00', N'0.00', 10, N'75', N'100', N'7.5', N'11/12/2021', N'11/19/2021', N'0.00', N'0', N'0', N'0', N'0', NULL, NULL, NULL, NULL)
INSERT [dbo].[Loan_Cols] ([LoanColId], [LoanId], [MbrId], [Collected_Amount], [Actual_Balance], [Prin_Balance], [Int_Collect], [Prin_Collected], [Balance_Installment], [Balance_Interest], [Prin_Due], [Int_Due], [Transact_Date], [Next_Due_Date], [Upto_Last_Savings], [ALRSavings], [As_On], [Adjustment], [PaidEMI], [PrePrinAmt], [PreInterestAmt], [Collect_Or_RefoundAmt], [PostedUserID]) VALUES (165, 98, 142, N'108', N'968', N'900', N'7.5', N'100', 9, N'68', N'100', N'7.5', N'11/14/2021', N'11/22/2021', N'0', N'0', N'0', N'0', N'1', NULL, NULL, NULL, NULL)
INSERT [dbo].[Loan_Cols] ([LoanColId], [LoanId], [MbrId], [Collected_Amount], [Actual_Balance], [Prin_Balance], [Int_Collect], [Prin_Collected], [Balance_Installment], [Balance_Interest], [Prin_Due], [Int_Due], [Transact_Date], [Next_Due_Date], [Upto_Last_Savings], [ALRSavings], [As_On], [Adjustment], [PaidEMI], [PrePrinAmt], [PreInterestAmt], [Collect_Or_RefoundAmt], [PostedUserID]) VALUES (166, 99, 140, N'0.00', N'11000', N'10000', N'0.00', N'0.00', 10, N'1000', N'1000', N'100', N'11/16/2021', N'11/21/2021', N'0.00', N'0', N'0', N'0', N'0', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Loan_Cols] OFF
