USE [MicroFinance]
GO
/****** Object:  StoredProcedure [dbo].[spGetWithDrawMbrsList]    Script Date: 11/29/2022 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[spGetWithDrawMbrsList]
as
begin
Select M.* from Member M INNER JOIN Loans L on M.MbrId = L.MbrId 
 where (L.Balance_Amount = 0 OR L.Balance_Amount IS NULL OR L.Balance_Amount ='')
order by M.MbrId
end
GO
