USE [MicroFinance]
GO
/****** Object:  Table [dbo].[TmpLoansBackUpData]    Script Date: 11/29/2022 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TmpLoansBackUpData](
	[LoanID] [int] IDENTITY(1,1) NOT NULL,
	[MbrId] [int] NULL,
	[Loan_Amount] [varchar](max) NULL,
	[Balance_Amount] [varchar](max) NULL,
	[RateOfInterest] [varchar](max) NULL,
	[Prin_EMI] [varchar](max) NULL,
	[Int_EMI] [varchar](max) NULL,
	[NoOfDay] [int] NULL,
	[Date_Of_Disbursement] [varchar](max) NULL,
	[Expiry_Date] [varchar](max) NULL,
	[ALRSavings] [varchar](max) NULL,
	[GRFAmt] [varchar](max) NULL,
	[Processing_Fee] [varchar](max) NULL,
	[Stationary] [int] NULL,
	[Insurance] [int] NULL,
	[Other_Income] [varchar](max) NULL,
	[NetSavings] [varchar](max) NULL,
	[GrpCode] [varchar](max) NULL,
	[StaffName] [varchar](max) NULL,
	[NextDueDt] [varchar](max) NULL,
	[Balance_Interest] [varchar](max) NULL,
	[LoanType] [varchar](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TmpLoansBackUpData] ON
INSERT [dbo].[TmpLoansBackUpData] ([LoanID], [MbrId], [Loan_Amount], [Balance_Amount], [RateOfInterest], [Prin_EMI], [Int_EMI], [NoOfDay], [Date_Of_Disbursement], [Expiry_Date], [ALRSavings], [GRFAmt], [Processing_Fee], [Stationary], [Insurance], [Other_Income], [NetSavings], [GrpCode], [StaffName], [NextDueDt], [Balance_Interest], [LoanType]) VALUES (105, 140, N'10000', N'9000', N'1000', N'1000', N'100', 10, N'11/28/2021', N'', N'0', N'0.00', N'0.00', 0, 0, N'0.00', N'undefined', N'W10', N'Arjun', N'11/28/2021', N'900', N'General')
SET IDENTITY_INSERT [dbo].[TmpLoansBackUpData] OFF
