USE [MicroFinance]
GO
/****** Object:  Table [dbo].[Loans]    Script Date: 11/29/2022 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Loans](
	[LoanID] [int] IDENTITY(1,1) NOT NULL,
	[MbrId] [int] NULL,
	[Loan_Amount] [varchar](max) NULL,
	[Balance_Amount] [varchar](max) NULL,
	[RateOfInterest] [varchar](max) NULL,
	[Prin_EMI] [varchar](max) NULL,
	[Int_EMI] [varchar](max) NULL,
	[NoOfDay] [int] NULL,
	[Date_Of_Disbursement] [varchar](max) NULL,
	[Expiry_Date] [varchar](max) NULL,
	[ALRSavings] [varchar](max) NULL,
	[GRFAmt] [varchar](max) NULL,
	[Processing_Fee] [varchar](max) NULL,
	[Stationary] [int] NULL,
	[Insurance] [int] NULL,
	[Other_Income] [varchar](max) NULL,
	[NetSavings] [varchar](max) NULL,
	[GrpCode] [varchar](max) NULL,
	[StaffName] [varchar](max) NULL,
	[NextDueDt] [varchar](max) NULL,
	[Balance_Interest] [varchar](max) NULL,
	[LoanType] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LoanID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Loans]  WITH CHECK ADD FOREIGN KEY([MbrId])
REFERENCES [dbo].[Member] ([MbrId])
GO
SET IDENTITY_INSERT [dbo].[Loans] ON
INSERT [dbo].[Loans] ([LoanID], [MbrId], [Loan_Amount], [Balance_Amount], [RateOfInterest], [Prin_EMI], [Int_EMI], [NoOfDay], [Date_Of_Disbursement], [Expiry_Date], [ALRSavings], [GRFAmt], [Processing_Fee], [Stationary], [Insurance], [Other_Income], [NetSavings], [GrpCode], [StaffName], [NextDueDt], [Balance_Interest], [LoanType]) VALUES (94, 134, N'10000', N'0.00', N'', N'100', N'100', 100, N'8/13/2018', N'8/13/2018', N'20', N'0.00', N'0.00', 0, 0, N'0.00', N'20100', N'D15', N'ramasubbanna', N'8/23/2018', N'0', N'General')
INSERT [dbo].[Loans] ([LoanID], [MbrId], [Loan_Amount], [Balance_Amount], [RateOfInterest], [Prin_EMI], [Int_EMI], [NoOfDay], [Date_Of_Disbursement], [Expiry_Date], [ALRSavings], [GRFAmt], [Processing_Fee], [Stationary], [Insurance], [Other_Income], [NetSavings], [GrpCode], [StaffName], [NextDueDt], [Balance_Interest], [LoanType]) VALUES (95, 134, N'10000', N'10000', NULL, N'100', N'7.5', 100, N'8/13/2018', N'', N'0.00', N'0.00', N'100', 0, 0, N'0.00', NULL, N'D15', N'ramasubbanna', N'8/23/2018', N'750', N'General')
INSERT [dbo].[Loans] ([LoanID], [MbrId], [Loan_Amount], [Balance_Amount], [RateOfInterest], [Prin_EMI], [Int_EMI], [NoOfDay], [Date_Of_Disbursement], [Expiry_Date], [ALRSavings], [GRFAmt], [Processing_Fee], [Stationary], [Insurance], [Other_Income], [NetSavings], [GrpCode], [StaffName], [NextDueDt], [Balance_Interest], [LoanType]) VALUES (96, 134, N'10000', N'10000', N'7.5', N'100', N'7.5', 100, N'8/13/2018', N'', N'0.00', N'0.00', N'100', 0, 0, N'0.00', NULL, N'D15', N'ramasubbanna', N'8/23/2018', N'0', N'Special')
SET IDENTITY_INSERT [dbo].[Loans] OFF
