USE [MicroFinance]
GO
/****** Object:  Table [dbo].[PartnerDetails]    Script Date: 11/29/2022 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PartnerDetails](
	[PrtnrID] [int] IDENTITY(1,1) NOT NULL,
	[PrtnrName] [varchar](max) NULL,
	[Address] [varchar](max) NULL,
	[CatntactNum] [varchar](max) NULL,
	[City] [varchar](max) NULL,
	[Statte] [varchar](max) NULL,
	[ZIP] [varchar](max) NULL,
	[AdharaCardNum] [varchar](max) NULL,
	[CrDate] [varchar](max) NULL,
	[InvestmentAmt] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PrtnrID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[PartnerDetails] ON
INSERT [dbo].[PartnerDetails] ([PrtnrID], [PrtnrName], [Address], [CatntactNum], [City], [Statte], [ZIP], [AdharaCardNum], [CrDate], [InvestmentAmt]) VALUES (5, N'Mallikarjun', N'Mysore', N'89515222837', N'MysoreCity', N'Karnataka', N'570001', N'798745542313223', N'11/7/2018', NULL)
INSERT [dbo].[PartnerDetails] ([PrtnrID], [PrtnrName], [Address], [CatntactNum], [City], [Statte], [ZIP], [AdharaCardNum], [CrDate], [InvestmentAmt]) VALUES (6, N'Mallikarjun', N'test', N'1245878956', N'test', N'test', N'1234545', N'123123123231', N'15/7/2018', NULL)
SET IDENTITY_INSERT [dbo].[PartnerDetails] OFF
