USE [MicroFinance]
GO
/****** Object:  StoredProcedure [dbo].[spGetLoanMbrsList]    Script Date: 11/29/2022 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spGetLoanMbrsList] @GrpName varchar(max), @StaffName varchar(max),@MbrId Int
AS
BEGIN

	IF ((@GrpName <> '' OR @GrpName IS NOT NULL) AND
		(@StaffName <> '' OR @StaffName IS NOT NULL) AND 
		(@MbrId > 0))
	BEGIN 
			 SELECT L.LoanID,
					M.MbrId,
					M.MbrName,
                    G.GrpName,
                    LC.Actual_Balance,
                    L.NoOfDay,
                    LC.PaidEMI ,
                    LC.Collected_Amount ,
                    L.Balance_Amount ,
                    LC.Balance_Installment, 
                    ISNULL(convert(money,L.Prin_EMI),0) + ISNULL(convert(money,L.Int_EMI),0)+ ISNULL(convert(money,L.ALRSavings),0) as 'Prin_EMI',
                    LC.Next_Due_Date,
                    LC.ALRSavings, 
                    L.NetSavings
	
					FROM Member M INNER JOIN Loans L on M.MbrId = L.MbrId 
						 INNER JOIN Loan_Cols LC ON L.LoanID = LC.LoanID
						 INNER JOIN FinGroup G ON G.GroupCode = L.GrpCode
					WHERE G.GrpName = @GrpName AND L.StaffName = @StaffName 
					AND L.MbrId=@MbrId 
					 AND (DAY(Convert(date , L.NEXTDUEDT )) = DAY(GETDATE())
					 AND MONTH(Convert(date , L.NEXTDUEDT )) = MONTH(GETDATE())
					 AND YEAR(Convert(date , L.NEXTDUEDT )) = YEAR(GETDATE()))
					 					 AND L.Balance_Amount = LC.Prin_Balance
					 AND LC.LoanColId in (Select LoanColId from Loan_Cols
										inner join Loans L on M.MbrId = L.MbrId )
					ORDER BY M.MbrId
	END
	ELSE IF (@GrpName <> '' OR @GrpName IS NOT NULL)
	BEGIN
			 SELECT L.LoanID,
					M.MbrId,
					M.MbrName,
                    G.GrpName,
                    LC.Actual_Balance ,
                    L.NoOfDay,
                    LC.PaidEMI ,
                    LC.Collected_Amount ,
                    L.Balance_Amount ,
                    LC.Balance_Installment, 
                    ISNULL(convert(money,L.Prin_EMI),0) + ISNULL(convert(money,L.Int_EMI),0)+ ISNULL(convert(money,L.ALRSavings),0) as 'Prin_EMI',
                    LC.Next_Due_Date,
                    LC.ALRSavings, 
                    L.NetSavings
                    
				FROM Member M INNER JOIN Loans L on M.MbrId = L.MbrId 
					 INNER JOIN Loan_Cols LC ON L.LoanID = LC.LoanID
					 INNER JOIN FinGroup G ON G.GroupCode = L.GrpCode
				WHERE G.GrpName =ISNULL(@GrpName,'0')
					 AND (DAY(Convert(date , L.NEXTDUEDT )) = DAY(GETDATE())
					 AND MONTH(Convert(date , L.NEXTDUEDT )) = MONTH(GETDATE())
					 AND YEAR(Convert(date , L.NEXTDUEDT )) = YEAR(GETDATE()))
					 					 AND L.Balance_Amount = LC.Prin_Balance
					 AND LC.LoanColId in (Select LoanColId from Loan_Cols
										inner join Loans L on M.MbrId = L.MbrId )
				ORDER BY M.MbrId
	END
	ELSE IF (@StaffName <> '' OR @StaffName IS NOT NULL)
	BEGIN
			 SELECT L.LoanID,
					M.MbrId,
					M.MbrName,
                    G.GrpName,
                    LC.Actual_Balance ,
                    L.NoOfDay,
                    LC.PaidEMI ,
                    LC.Collected_Amount ,
                    L.Balance_Amount ,
                    LC.Balance_Installment, 
                    ISNULL(convert(money,L.Prin_EMI),0) + ISNULL(convert(money,L.Int_EMI),0)+ ISNULL(convert(money,L.ALRSavings),0) as 'Prin_EMI',
                    LC.Next_Due_Date,
                    LC.ALRSavings, 
                    L.NetSavings
				FROM Member M INNER JOIN Loans L on M.MbrId = L.MbrId 
					 INNER JOIN Loan_Cols LC ON L.LoanID = LC.LoanID
					 INNER JOIN FinGroup G ON G.GroupCode = L.GrpCode
				WHERE L.StaffName = @StaffName
					 AND (DAY(Convert(date , L.NEXTDUEDT )) = DAY(GETDATE())
					 AND MONTH(Convert(date , L.NEXTDUEDT )) = MONTH(GETDATE())
					 AND YEAR(Convert(date , L.NEXTDUEDT )) = YEAR(GETDATE()))
					 					 AND L.Balance_Amount = LC.Prin_Balance
					 AND LC.LoanColId in (Select LoanColId from Loan_Cols
										inner join Loans L on M.MbrId = L.MbrId )
					 ORDER BY M.MbrId
	END
	ELSE IF(@MbrId > 0 )
	BEGIN
				 SELECT L.LoanID,
					M.MbrId,
					M.MbrName,
                    G.GrpName,
                    LC.Actual_Balance ,
                    L.NoOfDay,
                    LC.PaidEMI ,
                    LC.Collected_Amount ,
                    L.Balance_Amount ,
                    LC.Balance_Installment, 
                    ISNULL(convert(money,L.Prin_EMI),0) + ISNULL(convert(money,L.Int_EMI),0)+ ISNULL(convert(money,L.ALRSavings),0) as 'Prin_EMI',
                    LC.Next_Due_Date,
                    LC.ALRSavings, 
                    L.NetSavings
				FROM Member M INNER JOIN Loans L on M.MbrId = L.MbrId 
					 INNER JOIN Loan_Cols LC ON L.LoanID = LC.LoanID
					 INNER JOIN FinGroup G ON G.GroupCode = L.GrpCode
				WHERE L.MbrId=@MbrId
					 AND (DAY(Convert(date , L.NEXTDUEDT )) = DAY(GETDATE())
					 AND MONTH(Convert(date , L.NEXTDUEDT )) = MONTH(GETDATE())
					 AND YEAR(Convert(date , L.NEXTDUEDT )) = YEAR(GETDATE()))
					 					 AND L.Balance_Amount = LC.Prin_Balance
					 AND LC.LoanColId in (Select LoanColId from Loan_Cols
										inner join Loans L on M.MbrId = L.MbrId )
										ORDER BY M.MbrId
	END
	ELSE
	BEGIN
			 SELECT L.LoanID,
					M.MbrId,
					M.MbrName,
                    G.GrpName,
                    LC.Actual_Balance ,
                    L.NoOfDay,
                    LC.PaidEMI ,
                    LC.Collected_Amount ,
                    L.Balance_Amount ,
                    LC.Balance_Installment, 
                    ISNULL(convert(money,L.Prin_EMI),0) + ISNULL(convert(money,L.Int_EMI),0) + ISNULL(convert(money,L.ALRSavings),0) as 'Prin_EMI',
                    LC.Next_Due_Date,
                    LC.ALRSavings, 
                    L.NetSavings
				FROM Member M INNER JOIN Loans L on M.MbrId = L.MbrId 
					 INNER JOIN Loan_Cols LC ON L.LoanID = LC.LoanID
					 INNER JOIN FinGroup G ON G.GroupCode = L.GrpCode
					 WHERE DAY(Convert(date , L.NEXTDUEDT )) = DAY(GETDATE())
					 AND MONTH(Convert(date , L.NEXTDUEDT )) = MONTH(GETDATE())
					 AND YEAR(Convert(date , L.NEXTDUEDT )) = YEAR(GETDATE())
					 					 AND L.Balance_Amount = LC.Prin_Balance
					 AND LC.LoanColId in (Select LoanColId from Loan_Cols
										inner join Loans L on M.MbrId = L.MbrId )
				ORDER BY M.MbrId
	END
END
GO
