USE [MicroFinance]
GO
/****** Object:  Table [dbo].[TmpSummeryReportData]    Script Date: 11/29/2022 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TmpSummeryReportData](
	[SlNo] [int] IDENTITY(1,1) NOT NULL,
	[Particulars] [varchar](max) NULL,
	[BOR] [varchar](max) NULL,
	[Added] [varchar](max) NULL,
	[Dropped] [varchar](max) NULL,
	[EOR] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SlNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TmpSummeryReportData] ON
INSERT [dbo].[TmpSummeryReportData] ([SlNo], [Particulars], [BOR], [Added], [Dropped], [EOR]) VALUES (1, N'No Of Groups Formed', N'0', N'0', N'0', N'0')
INSERT [dbo].[TmpSummeryReportData] ([SlNo], [Particulars], [BOR], [Added], [Dropped], [EOR]) VALUES (2, N'No Of Active Clients', N'0', N'3', N'0', N'3')
INSERT [dbo].[TmpSummeryReportData] ([SlNo], [Particulars], [BOR], [Added], [Dropped], [EOR]) VALUES (3, N'Current Loans', N'0.00', N'1000.00', N'1000.00', N'0.00')
SET IDENTITY_INSERT [dbo].[TmpSummeryReportData] OFF
