USE [MicroFinance]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 11/29/2022 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Member](
	[MbrId] [int] IDENTITY(1,1) NOT NULL,
	[MbrName] [varchar](max) NULL,
	[GroupCode] [varchar](max) NULL,
	[Husbandname] [varchar](max) NULL,
	[Age] [int] NULL,
	[MbrStatus] [varchar](10) NULL,
	[WithdrawDt] [varchar](max) NULL,
	[StaffId] [int] NULL,
	[MbrAddress] [varchar](max) NULL,
	[DOJ] [varchar](max) NULL,
	[CantactNo] [varchar](max) NULL,
	[Gender] [varchar](10) NULL,
	[GrpName] [varchar](max) NULL,
	[StaffName] [varchar](max) NULL,
	[Nominee] [varchar](50) NULL,
	[PhoneNo2] [varchar](12) NULL,
	[AdharaCardNum] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MbrId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Member] ON
INSERT [dbo].[Member] ([MbrId], [MbrName], [GroupCode], [Husbandname], [Age], [MbrStatus], [WithdrawDt], [StaffId], [MbrAddress], [DOJ], [CantactNo], [Gender], [GrpName], [StaffName], [Nominee], [PhoneNo2], [AdharaCardNum]) VALUES (134, N'TestMbr', N'D15', N'test', 25, N'Active', N'11/28/2021 5:11:13 PM', 30, N'test', N'//', N'8050318995', N'Female', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Member] ([MbrId], [MbrName], [GroupCode], [Husbandname], [Age], [MbrStatus], [WithdrawDt], [StaffId], [MbrAddress], [DOJ], [CantactNo], [Gender], [GrpName], [StaffName], [Nominee], [PhoneNo2], [AdharaCardNum]) VALUES (135, N'Ramanna', N'D13', N'Test', 25, N'Active', N'', 2, N'Test 01', N'8/19/2018', N'2356987845', N'Male', N'TestDaily', N'Staff2', NULL, NULL, NULL)
INSERT [dbo].[Member] ([MbrId], [MbrName], [GroupCode], [Husbandname], [Age], [MbrStatus], [WithdrawDt], [StaffId], [MbrAddress], [DOJ], [CantactNo], [Gender], [GrpName], [StaffName], [Nominee], [PhoneNo2], [AdharaCardNum]) VALUES (136, N'Test02', N'W12', N'test01', 25, N'Cancel', N'', 30, N'Test 01', N'8/19/2018', N'2356987845', N'Male', N'gonal', N'ramasubbanna', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Member] OFF
