USE [MicroFinance]
GO
/****** Object:  StoredProcedure [dbo].[spDueAndCollectedAmt]    Script Date: 11/29/2022 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[spDueAndCollectedAmt]
AS
BEGIN
	SELECT ISNULL(SUM(ISNULL(CONVERT(int,Prin_Due),0)),0) + ISNULL(SUM(ISNULL(CONVERT(int,Int_Due),0)),0) as 'Total Due Amount',
	ISNULL(SUM(ISNULL(CONVERT(int,Collected_Amount),0)),0) AS 'CollectedAmount'
	FROM Loans L INNER JOIN Loan_Cols LC ON L.LoanId = LC.LoanId
	WHERE DAY(Next_Due_Date) = DAY(GETDATE())
			AND MONTH(Next_Due_Date) = MONTH(GETDATE())
			AND YEAR(Next_Due_Date) = YEAR(GETDATE())

END
GO
