USE [MicroFinance]
GO
/****** Object:  StoredProcedure [dbo].[spGetReceiptsAndPaymentsData]    Script Date: 11/29/2022 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  exec spGetReceiptsAndPaymentsData  '2018-08-01','2018-08-22'
CREATE PROC [dbo].[spGetReceiptsAndPaymentsData] @FrmDt varchar(max),@ToDt varchar(max)
as
begin

set @FrmDt = CONVERT(Date, @FrmDt)
set @ToDt  = CONVERT(Date, @ToDt) 
IF (EXISTS(SELECT * FROM INFORMATION_SCHEMA.TABLES 
    WHERE TABLE_TYPE='BASE TABLE' 
    AND TABLE_NAME='TmpReceipts'))
    BEGIN
     DROP TABLE TmpReceipts
    END
   
Declare @Receipts Varchar(max),@Rs Varchar(max)

    CREATE TABLE TmpReceipts
    (
		SlNo int identity(1,1) primary key,
		Receipts Varchar(max),
        Rs Varchar(max)
    )
--************************************************************************************************************    
    set @Receipts = 'Opening Cash Balance';
    
    set @Rs = (select isnull(sum(isnull(convert(money,InvestmentAmt),0)),0) as 'BORGrpCount'   
     from Management
							where MONTH(CONVERT(Date,CrDate)) <= MONTH(@FrmDt)
							 And year(CONVERT(Date, CrDate)) = year(CONVERT(Date,@FrmDt)) And 
								MONTH(CONVERT(Date, CrDate)) <= MONTH(@ToDt) and 
								year(CONVERT(Date, CrDate)) = year(@ToDt) 
							 ) 
				 
    Insert into TmpReceipts values(@Receipts,isnull(@Rs,0.00)) 
--************************************************************************************************************    
    set @Receipts = 'Loan Recovered';
    
    set @Rs = (select isnull(sum(isnull(convert(money,Collected_Amount),0)),0)  
    from Loan_Cols
							where MONTH(CONVERT(Date,Transact_Date)) <= MONTH(@FrmDt)
							 And year(CONVERT(Date, Transact_Date)) = year(CONVERT(Date,@FrmDt)) And 
								MONTH(CONVERT(Date, Transact_Date)) <= MONTH(@ToDt) and 
								year(CONVERT(Date, Transact_Date)) = year(@ToDt) 
							 ) 
				 
    Insert into TmpReceipts values(@Receipts,isnull(@Rs,0.00))     
 --************************************************************************************************************   
        set @Receipts = 'Interest Collected';
    
    set @Rs = (select sum(isnull(convert(money,Int_Collect),0))  
    from Loan_Cols
							where MONTH(CONVERT(Date,Transact_Date)) <= MONTH(@FrmDt)
							 And year(CONVERT(Date, Transact_Date)) = year(CONVERT(Date,@FrmDt)) And 
								MONTH(CONVERT(Date, Transact_Date)) <= MONTH(@ToDt) and 
								year(CONVERT(Date, Transact_Date)) = year(@ToDt) 
							 ) 
				 
    Insert into TmpReceipts values(@Receipts,isnull(@Rs,0.00))
 --************************************************************************************************************  
	 set @Receipts = 'ALR Collected';
    
    set @Rs = (select sum(isnull(convert(money,ALRSavings),0))  
    from Loan_Cols
							where MONTH(CONVERT(Date,Transact_Date)) <= MONTH(@FrmDt)
							 And year(CONVERT(Date, Transact_Date)) = year(CONVERT(Date,@FrmDt)) And 
								MONTH(CONVERT(Date, Transact_Date)) <= MONTH(@ToDt) and 
								year(CONVERT(Date, Transact_Date)) = year(@ToDt) 
							 ) 
				 
    Insert into TmpReceipts values(@Receipts,isnull(@Rs,0.00))    
 --************************************************************************************************************
	 set @Receipts = 'Loan Fee';
    
    set @Rs = (select sum(isnull(convert(money,Processing_Fee),0))  
    from Loans
							where MONTH(CONVERT(Date,Date_Of_Disbursement)) <= MONTH(@FrmDt)
							 And year(CONVERT(Date, Date_Of_Disbursement)) = year(CONVERT(Date,@FrmDt)) And 
								MONTH(CONVERT(Date, Date_Of_Disbursement)) <= MONTH(@ToDt) and 
								year(CONVERT(Date, Date_Of_Disbursement)) = year(@ToDt) 
							 ) 
				 
    Insert into TmpReceipts values(@Receipts,isnull(@Rs,0.00))   
 --************************************************************************************************************
	 set @Receipts = 'Group Registraction Fee';
    
    set @Rs = (select sum(isnull(convert(money,GRFAmt),0))  
    from Loans
							where MONTH(CONVERT(Date,Date_Of_Disbursement)) <= MONTH(@FrmDt)
							 And year(CONVERT(Date, Date_Of_Disbursement)) = year(CONVERT(Date,@FrmDt)) And 
								MONTH(CONVERT(Date, Date_Of_Disbursement)) <= MONTH(@ToDt) and 
								year(CONVERT(Date, Date_Of_Disbursement)) = year(@ToDt) 
							 ) 
				 
    Insert into TmpReceipts values(@Receipts,isnull(@Rs,0.00))
  --************************************************************************************************************
  set @Receipts = 'Passbook Fee';
    
    set @Rs = (select sum(convert(money,0))  
    from Loans
							where MONTH(CONVERT(Date,Date_Of_Disbursement)) <= MONTH(@FrmDt)
							 And year(CONVERT(Date, Date_Of_Disbursement)) = year(CONVERT(Date,@FrmDt)) And 
								MONTH(CONVERT(Date, Date_Of_Disbursement)) <= MONTH(@ToDt) and 
								year(CONVERT(Date, Date_Of_Disbursement)) = year(@ToDt) 
							 ) 
				 
    Insert into TmpReceipts values(@Receipts,isnull(@Rs,0.00))
  --************************************************************************************************************
   set @Receipts = 'Insurance Premium';
    
    set @Rs = (select ((sum(isnull(convert(money,Insurance),0))*2.5)/100)  
    from Loans
							where MONTH(CONVERT(Date,Date_Of_Disbursement)) <= MONTH(@FrmDt)
							 And year(CONVERT(Date, Date_Of_Disbursement)) = year(CONVERT(Date,@FrmDt)) And 
								MONTH(CONVERT(Date, Date_Of_Disbursement)) <= MONTH(@ToDt) and 
								year(CONVERT(Date, Date_Of_Disbursement)) = year(@ToDt) 
							 ) 
				 
    Insert into TmpReceipts values(@Receipts,isnull(@Rs,0.00)) 
  --************************************************************************************************************
  set @Receipts = 'Pree Principal';
    
    set @Rs = (select sum(isnull(convert(money,PrePrinAmt),0))  
    from Loan_Cols
							where MONTH(CONVERT(Date,Transact_Date)) <= MONTH(@FrmDt)
							 And year(CONVERT(Date, Transact_Date)) = year(CONVERT(Date,@FrmDt)) And 
								MONTH(CONVERT(Date, Transact_Date)) <= MONTH(@ToDt) and 
								year(CONVERT(Date, Transact_Date)) = year(@ToDt) 
							 ) 
				 
    Insert into TmpReceipts values(@Receipts,isnull(@Rs,0.00))
  --************************************************************************************************************
   set @Receipts = 'Pree Interest';
    
    set @Rs = (select sum(isnull(convert(money,PreInterestAmt),0))  
    from Loan_Cols
							where MONTH(CONVERT(Date,Transact_Date)) <= MONTH(@FrmDt)
							 And year(CONVERT(Date, Transact_Date)) = year(CONVERT(Date,@FrmDt)) And 
								MONTH(CONVERT(Date, Transact_Date)) <= MONTH(@ToDt) and 
								year(CONVERT(Date, Transact_Date)) = year(@ToDt) 
							 ) 
				 
    Insert into TmpReceipts values(@Receipts,isnull(@Rs,0.00))
--************************************************************************************************************    
    set @Receipts = 'BM Advance';
    
    set @Rs = null
				 
    Insert into TmpReceipts values(@Receipts,isnull(@Rs,0.00)) 
  --************************************************************************************************************    
--************************************************************************************************************    
    set @Receipts = 'Total Receipts';
    
    set @Rs = (select sum(isnull(convert(money,Rs),0)) 
    from TmpReceipts
							where Receipts NOT IN (    
									'Loans Disbursed',
									'ALR Adjustment',
									'Cash Closing Balance')
							 ) 
				 
    Insert into TmpReceipts values(@Receipts,isnull(@Rs,0.00)) 
  --************************************************************************************************************
  set @Receipts = 'Loans Disbursed';
    
    set @Rs = (select sum(isnull(convert(money,Loan_Amount),0))  
    from Loans
							where MONTH(CONVERT(Date,Date_Of_Disbursement)) <= MONTH(@FrmDt)
							 And year(CONVERT(Date, Date_Of_Disbursement)) = year(CONVERT(Date,@FrmDt)) And 
								MONTH(CONVERT(Date, Date_Of_Disbursement)) <= MONTH(@ToDt) and 
								year(CONVERT(Date, Date_Of_Disbursement)) = year(@ToDt) 
							 ) 
				 
    Insert into TmpReceipts values(@Receipts,isnull(@Rs,0.00))  
  --************************************************************************************************************
  set @Receipts = 'ALR Adjustment';
    
    set @Rs = (select sum(isnull(convert(money,Adjustment),0))  
    from Loan_Cols
							where MONTH(CONVERT(Date,Transact_Date)) <= MONTH(@FrmDt)
							 And year(CONVERT(Date, Transact_Date)) = year(CONVERT(Date,@FrmDt)) And 
								MONTH(CONVERT(Date, Transact_Date)) <= MONTH(@ToDt) and 
								year(CONVERT(Date, Transact_Date)) = year(@ToDt) 
							 ) 
				 
    Insert into TmpReceipts values(@Receipts,isnull(@Rs,0.00))  
--************************************************************************************************************
  set @Receipts = 'Cash Closing Balance';
    
    set @Rs = (select sum(isnull(convert(money,0),0)) 
    from Loan_Cols
							where MONTH(CONVERT(Date,Transact_Date)) <= MONTH(@FrmDt)
							 And year(CONVERT(Date, Transact_Date)) = year(CONVERT(Date,@FrmDt)) And 
								MONTH(CONVERT(Date, Transact_Date)) <= MONTH(@ToDt) and 
								year(CONVERT(Date, Transact_Date)) = year(@ToDt) 
							 ) 
				 
    Insert into TmpReceipts values(@Receipts,isnull(@Rs,0.00)) 
    --************************************************************************************************************
    set @Receipts = 'Total Payments';
    
    set @Rs = (select sum(isnull(convert(money,Rs),0)) 
    from TmpReceipts
							where Receipts in(    
									'Loans Disbursed',
									'ALR Adjustment',
									'Cash Closing Balance')
							 ) 
				 
    Insert into TmpReceipts values(@Receipts,isnull(@Rs,0.00))            
      
end
GO
