USE [MicroFinance]
GO
/****** Object:  StoredProcedure [dbo].[spGetDailyDueReportsData]    Script Date: 11/29/2022 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spGetDailyDueReportsData]
 @GrpName varchar(max),
 @StaffName varchar(max)
 as
 begin
IF(ISNULL(@StaffName,'') != '' AND ISNULL(@GrpName,'') != '')
BEGIN
SELECT 
	  M.GrpName,G.Net_Members,G.CrDt,G.DOC,
	  L.Loan_Amount,L.Balance_Interest,
	  L.ALRSavings,
	  L.NetSavings,
	  L.NoOfDay,
	  L.Prin_EMI,
	  L.Int_EMI 
	  FROM Member M INNER JOIN Loans L ON M.MbrId = L.MbrId
					INNER JOIN FinGroup G ON M.GroupCode = L.GrpCode
	  WHERE G.GrpName = @GrpName AND L.StaffName = @StaffName
END 
IF(ISNULL(@GrpName,'') != '' AND ISNULL(@StaffName,'') = '')
BEGIN
SELECT 
	  M.GrpName,G.Net_Members,G.CrDt,G.DOC,
	  L.Loan_Amount,L.Balance_Interest,
	  L.ALRSavings,
	  L.NetSavings,
	  L.NoOfDay,
	  L.Prin_EMI,
	  L.Int_EMI 
	  FROM Member M INNER JOIN Loans L ON M.MbrId = L.MbrId
					INNER JOIN FinGroup G ON M.GroupCode = L.GrpCode
	  WHERE G.GrpName = @GrpName 
END
ELSE IF(ISNULL(@StaffName,'') != '' AND ISNULL(@GrpName,'') = '')
BEGIN
SELECT 
	  M.GrpName,G.Net_Members,G.CrDt,G.DOC,
	  L.Loan_Amount,L.Balance_Interest,
	  L.ALRSavings,
	  L.NetSavings,
	  L.NoOfDay,
	  L.Prin_EMI,
	  L.Int_EMI 
	  FROM Member M INNER JOIN Loans L ON M.MbrId = L.MbrId
					INNER JOIN FinGroup G ON M.GroupCode = L.GrpCode
	  WHERE L.StaffName = @StaffName 
END
end
GO
