USE [MicroFinance]
GO
/****** Object:  Table [dbo].[ALRAudjustments]    Script Date: 11/29/2022 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ALRAudjustments](
	[ALRID] [int] IDENTITY(1,1) NOT NULL,
	[MbrID] [int] NULL,
	[ALRSavings] [varchar](max) NULL,
	[AdvanceALR] [varchar](max) NULL,
	[CrDt] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ALRID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ALRAudjustments]  WITH CHECK ADD FOREIGN KEY([MbrID])
REFERENCES [dbo].[Member] ([MbrId])
GO
SET IDENTITY_INSERT [dbo].[ALRAudjustments] ON
INSERT [dbo].[ALRAudjustments] ([ALRID], [MbrID], [ALRSavings], [AdvanceALR], [CrDt]) VALUES (1, 134, NULL, N'1000', N'08/14/2018')
SET IDENTITY_INSERT [dbo].[ALRAudjustments] OFF
