USE [MicroFinance]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 11/29/2022 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Branch](
	[BranchID] [int] IDENTITY(1,1) NOT NULL,
	[BranchCode] [varchar](max) NULL,
	[BranchName] [varchar](max) NULL,
	[OpenDate] [varchar](max) NULL,
	[BAddress] [varchar](max) NULL,
	[City] [varchar](max) NULL,
	[State] [varchar](max) NULL,
	[PinCode] [int] NULL,
	[ManagerID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BranchID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Branch] ON
INSERT [dbo].[Branch] ([BranchID], [BranchCode], [BranchName], [OpenDate], [BAddress], [City], [State], [PinCode], [ManagerID]) VALUES (4, N'MysoreBranch', N'ArjunTest', N'11/7/2018', N'Mysore JC', N'Mysore', N'Karnataka', 570001, 0)
INSERT [dbo].[Branch] ([BranchID], [BranchCode], [BranchName], [OpenDate], [BAddress], [City], [State], [PinCode], [ManagerID]) VALUES (5, N'testBranch03', N'TeatMkB', N'15/7/2018', N'test', N'test', N'kar', 583134, 0)
SET IDENTITY_INSERT [dbo].[Branch] OFF
