USE [MicroFinance]
GO
/****** Object:  StoredProcedure [dbo].[spGetLoanDetails]    Script Date: 11/29/2022 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[spGetLoanDetails] @LoanId int, @MbrId int
as
begin
Select top 1 * from Loan_Cols where LoanId = @LoanId and MbrId = @MbrId
order by LoanColId desc
end
GO
