USE [MicroFinance]
GO
/****** Object:  Table [dbo].[Management]    Script Date: 11/29/2022 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Management](
	[InvestID] [int] IDENTITY(1,1) NOT NULL,
	[PrtnrID] [int] NULL,
	[InvesterName] [varchar](max) NULL,
	[InvestmentAmt] [varchar](max) NULL,
	[WithdrawAmt] [varchar](max) NULL,
	[BalanceAmt] [varchar](max) NULL,
	[WithdrawDate] [varchar](max) NULL,
	[ProfitAmt] [varchar](max) NULL,
	[LossAmt] [varchar](max) NULL,
	[DueAmt] [varchar](max) NULL,
	[Notes] [varchar](max) NULL,
	[CrDate] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvestID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Management]  WITH CHECK ADD FOREIGN KEY([PrtnrID])
REFERENCES [dbo].[PartnerDetails] ([PrtnrID])
GO
ALTER TABLE [dbo].[Management]  WITH CHECK ADD FOREIGN KEY([PrtnrID])
REFERENCES [dbo].[PartnerDetails] ([PrtnrID])
GO
SET IDENTITY_INSERT [dbo].[Management] ON
INSERT [dbo].[Management] ([InvestID], [PrtnrID], [InvesterName], [InvestmentAmt], [WithdrawAmt], [BalanceAmt], [WithdrawDate], [ProfitAmt], [LossAmt], [DueAmt], [Notes], [CrDate]) VALUES (2, 5, N'Mallikarjun', N'10000', N'0.00', N'0.00', N'11/7/2018', N'0.00', N'0.00', N'0.00', N'First Investment', N'8/02/2018')
INSERT [dbo].[Management] ([InvestID], [PrtnrID], [InvesterName], [InvestmentAmt], [WithdrawAmt], [BalanceAmt], [WithdrawDate], [ProfitAmt], [LossAmt], [DueAmt], [Notes], [CrDate]) VALUES (3, 5, N'Mallikarjun', N'10000', N'0.00', N'10000', N'', N'0.00', N'0.00', N'0.00', N'test 02', N'8/02/2018')
SET IDENTITY_INSERT [dbo].[Management] OFF
