USE [MicroFinance]
GO
/****** Object:  StoredProcedure [dbo].[spLoansReport]    Script Date: 11/29/2022 19:23:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spLoansReport]
@GrpCode varchar(10)=null,
@StaffName varchar(max)
as
begin

if(ISNULL(@GrpCode,'') <> '' and ISNULL(@StaffName,'') <> '')
begin
	Select M.MbrId,M.MbrName,M.GrpName,M.CantactNo,M.MbrAddress,M.MbrStatus,M.Husbandname,M.StaffName,L.LoanID,L.Loan_Amount,L.Balance_Amount,L.Balance_Interest,
	L.NextDueDt,L.Expiry_Date, 0 as 'StaffRowCount', 0 as 'GrpRowCount'
	 from Member m join Loans L on M.MbrId = L.MbrId		
		 where M.GroupCode = @GrpCode and M.StaffName = @StaffName  
end
else if (ISNULL(@GrpCode,'') <> '' and ISNULL(@StaffName,'') = '')
begin
	Select M.MbrId,M.MbrName,M.GrpName,M.CantactNo,M.MbrAddress,M.MbrStatus,M.Husbandname,M.StaffName,L.LoanID,L.Loan_Amount,L.Balance_Amount,L.Balance_Interest,
	L.NextDueDt,L.Expiry_Date , 0 as 'StaffRowCount', 0 as 'GrpRowCount'
	 from Member m join Loans L on M.MbrId = L.MbrId		
		 where M.GroupCode = @GrpCode
end		 
else if (ISNULL(@GrpCode,'') = '' and ISNULL(@StaffName,'') <> '')
begin
	Select M.MbrId,M.MbrName,M.GrpName,M.CantactNo,M.MbrAddress,M.MbrStatus,M.Husbandname,M.StaffName,L.LoanID,L.Loan_Amount,L.Balance_Amount,L.Balance_Interest,
	L.NextDueDt,L.Expiry_Date , 0 as 'StaffRowCount', 0 as 'GrpRowCount'
	 from Member m join Loans L on M.MbrId = L.MbrId		
		 where  M.StaffName = @StaffName  
end
else
begin
	Select M.MbrId,M.MbrName,M.GrpName,M.CantactNo,M.MbrAddress,M.MbrStatus,M.Husbandname,M.StaffName,L.LoanID,L.Loan_Amount,L.Balance_Amount,L.Balance_Interest,
	L.NextDueDt,L.Expiry_Date , 0 as 'StaffRowCount', 0 as 'GrpRowCount'
	 from Member m join Loans L on M.MbrId = L.MbrId	
		 
end
end
GO
