USE [MicroFinance]
GO
/****** Object:  Table [dbo].[UserLog]    Script Date: 11/29/2022 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserLog](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[LoginName] [varchar](max) NULL,
	[LogInDateTime] [datetime] NULL,
	[LogOutDateTime] [datetime] NULL,
	[StaffName] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
