USE [MicroFinance]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 11/29/2022 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[StaffName] [varchar](max) NULL,
	[DOB] [varchar](max) NULL,
	[DOJ] [varchar](max) NULL,
	[Status] [varchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON
INSERT [dbo].[Staff] ([StaffID], [StaffName], [DOB], [DOJ], [Status]) VALUES (2, N'Staff2', N'01/08/1991', N'02/20/2018', N'test')
INSERT [dbo].[Staff] ([StaffID], [StaffName], [DOB], [DOJ], [Status]) VALUES (14, N'Test01', N'3/4/1983', N'3/4/2018', N'A')
INSERT [dbo].[Staff] ([StaffID], [StaffName], [DOB], [DOJ], [Status]) VALUES (27, N'MallikarjunK', N'1/8/1992', N'11/7/2018', N'Active')
SET IDENTITY_INSERT [dbo].[Staff] OFF
