USE [MicroFinance]
GO
/****** Object:  Table [dbo].[TmpReceipts]    Script Date: 11/29/2022 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TmpReceipts](
	[SlNo] [int] IDENTITY(1,1) NOT NULL,
	[Receipts] [varchar](max) NULL,
	[Rs] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[SlNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TmpReceipts] ON
INSERT [dbo].[TmpReceipts] ([SlNo], [Receipts], [Rs]) VALUES (1, N'Opening Cash Balance', N'0.00')
INSERT [dbo].[TmpReceipts] ([SlNo], [Receipts], [Rs]) VALUES (2, N'Loan Recovered', N'108.00')
INSERT [dbo].[TmpReceipts] ([SlNo], [Receipts], [Rs]) VALUES (3, N'Interest Collected', N'7.50')
SET IDENTITY_INSERT [dbo].[TmpReceipts] OFF
