USE [MicroFinance]
GO
/****** Object:  Table [dbo].[TmpLoanColsBackUpData]    Script Date: 11/29/2022 19:23:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TmpLoanColsBackUpData](
	[LoanColId] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TmpLoanColsBackUpData] ON
INSERT [dbo].[TmpLoanColsBackUpData] ([LoanColId]) VALUES (184)
INSERT [dbo].[TmpLoanColsBackUpData] ([LoanColId]) VALUES (173)
SET IDENTITY_INSERT [dbo].[TmpLoanColsBackUpData] OFF
